extends layout

block content
  header.w3-container.mobile.w3-teal
    a(href= '/' class="w3-button w3-round-large")
      h1 CLAV
  .w3-container.w3-padding-16.w3-mobile
    p Plataforma da Direção-Geral do Livro, dos Arquivos e das Bibliotecas para disponibilizar informação, orientações e ferramentas que facilitem e normalizem as práticas de classificação e avaliação da informação pública.
    p Esta plataforma destina-se a entidades da Administração Pública, a empresas públicas e a outras entidades de Portugal Continental e permite a interação entre estas e a DGLAB.
    p É igualmente destinada ao cidadão, particularmente através da disponibilização do catálogo de processos de negócio da Administração Pública, que integra a Lista Consolidada. 
  .w3-container.w3-padding-16.w3-mobile
      a(href= '/classes' class="w3-button w3-pale-blue w3-hover-gray w3-round-large")
        h2 Classes
  .w3-container.w3-padding-16.w3-mobile
      a(href= '/termos' class="w3-button w3-pale-blue w3-hover-gray w3-round-large")
        h2 Termos de Índice